<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Controle do Parque</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ static_url('css/bootstrap.min.css') }}">
    </head>
    <body>
        <div class="container">
            <br>
            <h3>Controle do Parque</h3>
            {% if listar %}
                <br>
                <table class="table">
                    <tr>
                        <td>IP</td>
                        <td>Nome da Máquina</td>
                        <td>Responsável</td>
                        <td>Função</td>
                        <td>Setor</td>
                    </tr>
                    {% for i in listar %}
                    <tr>
                        <td>{{ i[0] }}</td>
                        <td>{{ i[2] }}</td>
                        <td>{{ i[3] }}</td>
                        <td>{{ i[4] }}</td>
                        <td>{{ i[5] }}</td>
                        <td><a class="btn btn-danger" href="/sysvaldo/deletar/{{ i[0] }}">Deletar</a></td>
                        <td><a class="btn btn-warning" href="/sysvaldo/atualizar/{{ i[0] }}">Editar</a></td>
                    {% end %}
                    </tr>
                </table>
            {% else %}
                <h1>Controle do Parque vazio!</h1>
            {% end %}
        <br>

        <div class="cotainer">
            <h3><a class="btn btn-primary" href="/sysvaldo/cadastro">Cadastrar Máquina</a></h3>
        </div>
    </body>
</html>



